<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Title</title>

    <link href="/static/favicon.png" rel="icon" type="image/png">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="gray-bg">

{% block body %} {% endblock body %}

<!-- Mainly scripts -->
<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script>
$(function() {
    $('#btn').click(function() {
        var body = {
            "param": $('#param').val()
        };

        $.ajax({
            url: '/api/v1/example',
            headers: {
                "Content-Type": "application/json"
            },
            data: JSON.stringify(body),
            type: 'POST',
            success: function(response) {
                var msg = 'message';
                $("#resp").html(msg);
            },
            error: function(error) {
                var msg = 'message';
                $("#resp").html(msg);
            },
            complete: function() {
                console.log('text');
            }
        });
    });
});
</script>

{% block custom_scripts %}
{% endblock custom_scripts %}


</body>
</html>
